<div class="aboutus">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="aboutimage col-lg-6 mt-4 mb-4">
                <div class="img">
                    <img src="/img/aboutimg.png" alt="" class="img-fluid w-75">
                </div>                               
            </div>

            <div class="aboutcontent col-lg-6 mt-4 mb-4">                
                <div class="aboutdescription row">
                    <h2 class="abouttitle fs-1 fw-bold mt-1 mb-1">What is Thomas Tech?</h2>
                    <h4>"Empowering future developers with practical software and data science skills."</h4>
                    <p class="aboutpara mb-2">At Thomas Tech, we are passionate about empowering the next generation of tech professionals.
                     Our mission is to provide high-quality, accessible, and career-focused e-learning experiences in
                     software development and data science. Whether you're an undergraduate or an A/L student, our courses
                     are designed to equip you with the skills needed to excel in the ever-evolving tech industry.
                    </p>
                </div>

                <div class="card mb-3">
                    <div class="row">
                        <div class="col-3 col-lg-2 align-items-center text-center">       
                            <img class="card-img-top" src="/img/aboutcard1.png" alt="Card image cap">
                        </div>
                        <div class="col-9 col-lg-10">
                            <div class="body">                                
                               <h5 class="card-title">Latest Technology Courses</h5>
                               <p class="card-text">Stay ahead of the curve with cutting-edge courses covering the latest programming languages, frameworks, and data science tools.</p>
                            </div>
                        </div>  
                    </div>                  
                </div>

                <div class="card mb-3">
                    <div class="row">
                        <div class="col-3 col-lg-2">       
                            <img class="card-img-top" src="/img/aboutcard2.png" alt="Card image cap">
                        </div>
                        <div class="col-9 col-lg-10">
                            <div class="body">                                
                               <h5 class="card-title">Flexible Learning</h5>
                               <p class="card-text">Learn at your own pace with structured, self-paced modules that fit your schedule.</p>
                            </div>
                        </div>  
                    </div>                  
                </div>

                <div class="card mb-3">
                    <div class="row">
                        <div class="col-3 col-lg-2">       
                            <img class="card-img-top" src="/img/aboutcard3.png" alt="Card image cap">
                        </div>
                        <div class="col-9 col-lg-10">
                            <div class="body">                                
                               <h5 class="card-title">Expert Instructors</h5>
                               <p class="card-text">Gain insights from industry professionals and experienced educators who are dedicated to your success.</p>
                            </div>
                        </div>  
                    </div>                  
                </div>

                <div class="card mb-3">
                    <div class="row">
                        <div class="col-3 col-lg-2">       
                            <img class="card-img-top" src="/img/aboutcard4.png" alt="Card image cap">
                        </div>
                        <div class="col-9 col-lg-10">
                            <div class="body">                                
                               <h5 class="card-title">Hands-On Learning Approach</h5>
                               <p class="card-text">Master software development and data science through real-world projects and interactive assignments designed to enhance practical skills.</p>
                            </div>
                        </div>  
                    </div>                  
                </div>
                             
            </div>
        </div>
    </div>
</div>