@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    max-width: 100vw;
}

$colors: (
  firstcolor: #4499D9,
  secondcolor: #17234B,
  thirdcolor: #f39938,
  fourthcolor: #FFFFFF
);

$fonts: (
  navnamefont:("Bonheur Royale", serif),
  navfont:("Lexend", sans-serif),
  firstheadingfont: ("Inter", sans-serif),
  secondheadingfont: ("Inter", sans-serif),
  buttonfont: ("Roboto", sans-serif),
  paragraphfont: ("Outfit", sans-serif)
);


.contactus{
    .contacttitle{
        .abouttitle{
            color: map-get($colors,secondcolor);
            font-family: map-get($fonts,firstheadingfont);
        }
        .icons{
            width: 35px;
            height: 40px;
        }
        .icontitle{
            display: flex;
            align-items: center;
            gap: -10px;
            .body{
                display: flex;
                text-align: left;
                margin-left: -120px;
            }
        }
        
    }    
    .contact{
        align-items: center;
        .formtitle{
            font-size: 20px;
            font-family: map-get($fonts,paragraphfont);
            text-align: center;
            font-weight: 400;
        }
        .contactform{
            background-color: map-get($colors,fourthcolor);            
            border:1px solid map-get($colors,secondcolor);
            border-radius: 30px;
            
            input,textarea{
                border-radius: 3px;
                border-color:rgb(23, 35, 75,0.5);

            }
            .sendmsg{
                text-align: center;
                border-radius: 30px;
                background-color: map-get($colors,secondcolor);
                color: map-get($colors,fourthcolor);
                &:hover{
                    background-color: map-get($colors,thirdcolor);
                    color: map-get($colors,secondcolor);
                }
            }
        }
        form{
            border-color: rgba(140, 138, 138, 0.3);                
        }
    }
    .contactimage {
        display: flex;
        justify-content: flex-start;
        align-items: center;         
        margin-right: -10px;
    }
    
    .contactimage img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    
}

@media(max-width:800px){
    .contactus{
        .contacttitle{
            .icontitle{                
                .body{
                    margin-left: -55px;
                }
            }            
        }
        .contactimage{
            margin-right: -10px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

    }
}