    <div class="home1">
     <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="homecontent col-12 col-lg-6">
                <h1> <span>Studying</span> Online is now<br>much easier</h1>
                <p class="content">Thomas Tech will give you exciting language and <br> learning modules related to software development <br> and data science(ML) courses with <strong>trial class</strong> <br> for <strong>O/L, A/L & Undergraduates.</strong></p>
                <button class="button"><a class="courseslink" routerLink="/courses">Checkout Courses</a></button>
            </div>         
            <div class="homeimg col-12 col-lg-6">
                <img src="/img/homeimg.png" alt="my profile" class="img-fluid">
                <div class="circle-logo circle1"></div>
                <div class="circle-logo circle2"></div>
                <div class="circle-logo circle3"></div>
                <div class="circle-logo circle4"></div>
                <div class="circle-logo circle5"></div>
                <div class="circle-logo circle6"></div>
                <div class="circle-logo circle7"></div>
            </div>
        </div>
     </div>
    </div>
    <div class="home2">
        <div class="container">
        <div class="row mx-3">            
                <div class="cards g-4 col-12 col-lg-3">
                    <div class="cardbg align-items-center justify-content-center card">
                        <img class="cardimg" src="/img/icon1.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Learn more skills</h5>
                          <p class="card-text">learn skills that to become Developer or Data Scientist.</p>
                        </div>
                    </div>
                </div>
            

                <div class="cards g-4 col-12 col-lg-3">
                    <div class="cardbg align-items-center justify-content-center card">
                        <img class="cardimg" src="/img/icon2.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Choose courses</h5>
                          <p class="card-text">Dive into different languages and module-based courses.</p>
                        </div>
                    </div>
                </div>

                <div class="cards g-4 col-12 col-lg-3">
                    <div class="cardbg align-items-center justify-content-center card">
                        <img class="cardimg" src="/img/icon3.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Learn at your own Place</h5>
                          <p class="card-text">Learn it from your home or campus or even in the travel.</p>
                        </div>
                    </div>
                </div>

                <div class="cards g-4 col-12 col-lg-3">
                    <div class="cardbg align-items-center justify-content-center card">
                        <img class="cardimg" src="/img/icon1.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Decide with Trial Class</h5>
                          <p class="card-text">Join on the trial class and decide continue learning or not.</p>
                        </div>
                    </div>
                </div>
        </div>
        
        <div class="tutor row mt-4">
            <div class="col-12">
                <h2 class="tutorname fw-bold text-center">
                    Who is the Tutor & CEO?
                </h2>
                <h3 class="tutorsub mb-3 text-center">
                    The person who have experience in Software Development tools <br> and Technologies and Data Science Field.
                </h3>
                <div class="text-center">
                    <img src="/img/tutorimg.png" alt=""  class="img-fluid w-25">
                </div>
                <h3 class="name my-1 text-center">
                    Thomars Thuvarangan
                </h3>
                <h4 class="role text-center">
                    Instructor, Back-End Developer
                </h4>
                <p class="eudcation text-center">                    
                    BA in IT(Hons)(USJ),<br>
                    B.Eng. in Software Engineering Hons(LMU),<br>
                    HND in Software Engineering(Pearson),<br>
                    Full Stack Development(Developers Stack),<br>
                    IGCSE(UniOfCambridge)
                </p>
                <div class="links text-center">
                    <img src="/img/fb.png" alt="fb">
                    <img src="/img/tiktok.png" alt="tiktok">
                    <img src="/img/insta.png" alt="instragram">
                    <img src="/img/linkedin.png" alt="linkedin">
                    <img class="youtube" src="/img/youtube.png" alt="youtube">
                </div>
            </div>
        </div>
      </div>
    </div>



    

    